<iframe src="auth/sink.html" name="sink"
        style="display:none"></iframe>

<div class="modal-header">
    <h3 class="modal-title">Login</h3>
    <div ng-if="!!error">Authentication failure, please check you user name or password.
    {{ error }}
</div>
</div>
<form name="loginForm"
      action="auth/sink.html" target="sink" method="post"
      ng-submit="login(credentials)"
      novalidate form-autofill-fix>
    <div class="modal-body">

        <label for="username">Username:</label>
        <input type="text" id="username"
               ng-model="credentials.username">
        <label for="password">Password:</label>
        <input type="password" id="password"
               ng-model="credentials.password">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</form>
